body{
    position: relative;
}

:root{
    --color : rgb(100, 255, 218);
}

.landingPage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /* background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(./Img/background.svg); */
    color: white;
}

.landingContents{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 1250px;
    padding: 0 20px;
    justify-content: center;
    height: 60vh;
}

.landingContents div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.landingpageimg{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    background: url(./Img/landingpageimg1.png);
    background-size: cover;
    background-color: var(--color);
    background-blend-mode: multiply;
    transition: 0.5s;
}

.landingpageimg:hover{
    background-blend-mode: normal;
}

.Htext{
    display: block;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.wave{
    /* animation: wave 0.5s infinite; */
    display: inline-block;
    transform-origin: 70% 70%; 
    animation-name: wave;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite; 
}

@keyframes wave {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
   100% { transform: rotate( 0.0deg) }
}

.landingTitle{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: var(--color)
}

.landingParagraph{
    font-weight: 300;
    width: min(700px, 80%);
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}

#arrowdownWrapper{
  cursor: pointer;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 11px 0px rgb(178 216 227);
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: arrowdown 0.5s infinite alternate;
  color: var(--color);
  margin-top: 30px;
}

@keyframes arrowdown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
}



/* ========================================== MEDIA QUERY AND RESPONSIVENESS ================================================== */
@media (max-width: 450px) {
    .landingTitle{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        color: var(--color)
    }
}