*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --color : rgb(100, 255, 218);
}

.projectsWrapper{
    margin-top: 200px;  
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
    color: white;
}

.projects{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}

.projectsImageWrapper{
    width: min(700px, 100%);
    rotate: -20deg;
    transition: 0.5s;
}

.projectsImageWrapper:hover{
    rotate: 0deg;
}

.projectsImageWrapper img{
    width: 100%;
}

.projectstext{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectBtn{
    display: flex;
    gap: 30px;
    align-items: center;
}

.projectstext h1{
    font-weight: 500;
    font-size: 30px;
}

.projectstext p{
    line-height: 25px;
    font-weight: 300;
}

.technologies{
    margin-top: 10px;
}

.techWrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.codeLink{
    display: flex;
    color: var(--color);
    align-items: center;
    gap: 5px;
}

.gitHubIcon{
    margin-bottom: 3px;
}

.projectBtn .liveBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
}

.liveBtn svg{
    margin-bottom: 3px;
}

@media (max-width: 1150px) {
    .projectsImageWrapper{
        width: min(500px, 100%);
    }
}


@media (max-width: 830px) {
    .projects{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .projectsImageWrapper{
        rotate: 0deg;
        width: min(600px, 100%);
    }

    .projectsWrapper{
        margin-top: 200px;  
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
}


@media (max-width: 700px) {
    .projectsWrapper{
        margin-top: 200px;  
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}