:root{
    --green: #1F525B;
}

.projectsSection{
    width: 100%;
    min-height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.projectHeadingText{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
}

.viewallBtn{
    font-size: 25px;
    margin-top: 100px;
}


/* =========================================================================== Media Query starts here ========================================================================= */

@media (max-width: 400px) {
    .projectHeadingText{
        text-align: center;
        font-weight: 500;
        font-size: 30px;
    }
}

