:root{
    --color : rgb(40, 138, 165);
}

.about{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.aboutHeading{
    font-weight: 500;
    font-size: 50px;
}

.aboutContents{
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.aboutContents h2{
    margin-bottom: 30px;
    opacity: 0.8;
}

.abouttext{
    width: 45%;
}

.spanLinks{
    cursor: pointer;
    padding-left: 6px;
}

.abouttextflex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.abouttextflex p{
    font-size: 18px;
    opacity: 0.9;
    line-height: 27px;
    font-weight: 500;
}

.abouttextflex p span{
    opacity: 0.5;
    font-weight: 800;
}

.skills{
    width: 50%;
}

.skillButtons{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill{
    background-color: rgba(40, 138, 165, 0.084);
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 3px;
}


/* ======================================================================= Media Query starts here =============================================================== */

@media (max-width: 700px) {
    .about{
        margin-bottom: 100px;
    }
    .aboutContents{
        flex-direction: column;
        gap: 50px;
    }

    .abouttext{
        width: 100%;
    }

    .skills{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .aboutHeading{
        font-weight: 500;
        font-size: 30px;
    }
}

@media (max-width: 265px) {
    .aboutHeading{
        font-weight: 500;
        font-size: 26px;
    }
}