:root{
    --color : rgb(100, 255, 218);
}


.contactWrapper{
    width: 100%;
    min-height: 100vh;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: white;
}

.contactheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contactheader h1{
    font-weight: 500;
    font-size: 50px;
}

.contactheader p{
    font-size: 23px;
    text-align: center;
    width: 70%;
    line-height: 30px;
}

.forms{
    display: flex;
    flex-direction: column;
    width: min(80%, 600px);
    margin-top: 100px;
    gap: 10px;
}

.forms input{
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--color);
    background: none;
}

.forms textarea{
    border-radius: 10px;
    padding: 20px 20px;
    border: 1px solid var(--color);
    height: 30vh;
    max-width: 100%;
    background: none;
    color: white;
}

.contactWrapper form .submitformBtn{
    margin-top: 20px;
    background: linear-gradient(var(--color), rgb(0, 78, 60));
    color: white;
    transition: 0.5s;
}

.contactWrapper form .submitformBtn:hover{
    background: linear-gradient(rgb(0, 78, 60), var(--color));
}

.mini-footer{
    padding-bottom: 20px;
}



@media (max-width: 500px) {
    .contactheader h1{
        font-weight: 500;
        font-size: 30px;
    }
}