:root{
    --green: #1F525B;
    --color : rgb(40, 138, 165);
}

.headerWrapper{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
    z-index: 99999;
}

.header{
    width: min(85%, 1000px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    width: 40px;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul li a{
    color: black;
    transition: 0.5s;
    font-weight: 500;
}

.nav ul li a:hover{
    color: var(--color);
}

.headerButtons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.resumeBtn{
    color: black;
}

.resumeBtn:hover{
    color: var(--color);
}


.mobileHeader{
    display: none;
    align-items: center;
}

.mobileNav{
    width: 250px;
    position: fixed;
    background-color: white;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.353);
    gap: 30px;
}

.mobileNav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.closeNavBtn{
    position: absolute;
    top: 20px;
    right: 20px;
}


/* ================================================== MEDIA QUERY AND RESPONSIVENESS ================================================================= */

@media (max-width: 750px) {
    .mobileHeader{
        display: flex;
    }

    .header{
        display: none;
    }
}