#root{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border: none;
  background-color: none;
}

:root{
  --width: 1200px;
  --backgroundColor : rgb(40, 138, 165);
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Main{
  width: min(90%, var(--width));
}

.header{
  display: flex;
  justify-content: space-between;
  width: min(var(--width), 90%);
  align-items: center;
}

.button{
  background-color: var(--backgroundColor);
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}