#root{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border: none;
  background-color: none;
}

:root{
  --width: 1200px;
  --backgroundColor : rgb(100, 255, 218);
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Main{
  width: min(90%, var(--width));
}

.header{
  display: flex;
  justify-content: space-between;
  width: min(var(--width), 90%);
  align-items: center;
}

.button{
  padding: 10px 30px;
  color: rgb(100, 255, 218);
  cursor: pointer;
  border: 2px solid rgb(100, 255, 218);
  border-radius: 10px;
}

.button:hover{
  color: white;
}


@media (max-width: 730px) {
    .mobileNav{
      transform: translateX(-10000000px);
    }

    .mobileNav__active{
      transform: translateX(0);
    }
}
